<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body style="text-align: center;">
        <h1>Selamat datang di seri Backend</h1>
        <h2>
            Beberapa info sederhana apabila ingin mencoba rest Api ini di
            postman
        </h2>
        <h2>GET</h2>
        <p>/anime</p>
        <h2>POST</h2>
        <p>/anime</p>
        <h2>DELETE</h2>
        <p>/anime/:id</p>
        <h3>PUT</h3>
        <P>/anime/:id</P>
        <audio controls>
            <source src="assets/audio/bensound-memories.mp3" type="audio/ogg" />
            <source
                src="assets/audio/bensound-memories.mp3"
                type="audio/mpeg"
            />
        </audio>
    </body>
</html>
